@tailwind base;
@tailwind components;
@tailwind utilities;

font-family: Montserrat;
font-weight: 500;
font-style: Medium;
font-size: 16px;
leading-trim: NONE;
line-height: 140%;
letter-spacing: 0%;

