@tailwind base;
@tailwind components;
@tailwind utilities;


font-family: Montserrat;
font-weight: 600;
font-style: SemiBold;
font-size: 18px;
leading-trim: NONE;
line-height: 140%;
letter-spacing: 0%;
text-align: center;

